/*
Keyword colors can be found at http://colours.neilorangepeel.com/
*/

/* border-box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Add padding to all of the .container child elements */
/* .container > * {
  padding: 20px;
} */
.container {
  color: white;
  font-family: helvetica, arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

header {
  background: skyblue;
  flex: 1 0 100%;
  order: 2;
}
main {
  background: slategray;
  order: 3;
  flex: 1 1 500px;
}
nav {
  text-align: center;
  background: cadetblue;
  order: 1;
  flex: 1 0 200px;
}
aside {
  background: seagreen;
  order: 4;
  flex: 1 0 200px;
}
footer {
  background: darkslateblue;
  flex: 1 0 100%;
  order: 5;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

p {
  font-family: 'Nunito', sans-serif;
}

.feature {
  background-image: url("https://jonasrichard.github.io/assets/wood-desk-mac-water.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.feature .blog-title {
  color: white;
  padding: 0 20px;
  background-color: rgba(32, 32, 32, 0.5);
  font: normal 500 2.5em 'Rock Salt', cursive;
  line-height: 150%;
  text-align: center;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-family: 'PT Sans Narrow', sans-serif;
}