<!DOCTYPE html>
<html lang="en">
  {% include site-head.html %}
  <body>
    <div class="head-container">
      {% include site-nav.html %}
      <header>
        <div class="feature">
          <div class="feature-title-box">
            <h1 class="blog-title">Thoughts on backend and scaling</h1>
          </div>
        </div>
      </header>
    </div>
    <div class="container">
      <main id="main-content">
        <h2>main content</h2>
        {% for post in paginator.posts %}
        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
        {% endfor %}
      </main>
      <aside>
        <h2>Recent posts</h2>
        <p>related content</p>
        {% include post-list.html %}
      </aside>

      <footer>
        <h2>footer</h2>
      </footer>
    </div>
  </body>
</html>
