<!DOCTYPE html>
<html lang="en">
  {% include site-head.html %}
  <body>
    <div class="head-container">
      {% include site-nav.html %}
      <header>
        <div class="feature">
          <div class="feature-title-box">
            <h1 class="blog-title">Thoughts on backend and scaling</h1>
          </div>
        </div>
      </header>
    </div>
    <div class="container">
      <main id="main-content">
        <h2>Recent posts</h2>

        {% assign mainposts = paginator.posts %}
        {% include main-post-list.html %}
      </main>
      <aside>
      </aside>

      {% include site-footer.html %}
    </div>
  </body>
</html>
